In [24]:
import sqlite3
import pandas as pd

# Connect to Chroma's sqlite DB
conn = sqlite3.connect("/Users/amartyaghosh/Library/Mobile Documents/com~apple~TextEdit/Documents/Projects ML/Heart Disease Prediction/Agentic AI/Agentic -AI- Agents/CrewAI_Database/chroma.sqlite3")

# Show all tables
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)

# Peek inside embeddings
df = pd.read_sql_query("SELECT * FROM embeddings LIMIT 5;", conn)
print(df.head())

                                 name
0                          migrations
1                    embeddings_queue
2             embeddings_queue_config
3                 collection_metadata
4                    segment_metadata
5                             tenants
6                           databases
7                         collections
8                     maintenance_log
9                            segments
10                         embeddings
11                 embedding_metadata
12                         max_seq_id
13          embedding_fulltext_search
14     embedding_fulltext_search_data
15      embedding_fulltext_search_idx
16  embedding_fulltext_search_content
17  embedding_fulltext_search_docsize
18   embedding_fulltext_search_config
   id                            segment_id  \
0   1  e9759a48-8cea-458d-8e04-7b1f0c475fbb

                           embedding_id                               seq_id  \
0  d42fa1c9-519c-4a60-a2c7-8f17fb4545a2  b'\x00\x00\x00\x00\x00\x00\x00\x01'

            created_at
0  2025-09-25 12:23:51

In [25]:
df

,id,segment_id,embedding_id,seq_id,created_at
0,1,e9759a48-8cea-458d-8e04-7b1f0c475fbb,d42fa1c9-519c-4a60-a2c7-8f17fb4545a2,b'\x00\x00\x00\x00\x00\x00\x00\x01',2025-09-25 12:23:51

In [26]:
tables

                                 name
0                          migrations
1                    embeddings_queue
2             embeddings_queue_config
3                 collection_metadata
4                    segment_metadata
5                             tenants
6                           databases
7                         collections
8                     maintenance_log
9                            segments
10                         embeddings
11                 embedding_metadata
12                         max_seq_id
13          embedding_fulltext_search
14     embedding_fulltext_search_data
15      embedding_fulltext_search_idx
16  embedding_fulltext_search_content
17  embedding_fulltext_search_docsize
18   embedding_fulltext_search_config

In [27]:
df_metadata = pd.read_sql_query("SELECT * FROM embedding_fulltext_search_content;", conn)

In [28]:
df_metadata['c0']

Series([], Name: c0, dtype: object)